//
// Copyright © 2015 by Redwood Labs
// All rights reserved.
//

html {
    position: fixed; height: 100%; width: 100%;

    body {
        background: black;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;

        .header {
            background: gray;
            height: 20px;
        }

        .game-screen {
            display: flex;

            flex: 1 1 100%;
            align-items: center;
            justify-content: center;
        }
    }
}
